<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .bg {
            /* The image used */
            background-image: url("../images/3900.jpg");
            opacity: 0.75;
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         
        }

        .bottom-logo {
            margin: 0;
            position: absolute;
            bottom: 0%;
            right: 0%;
            height: 55px;
            width: auto;
        }

         { box-sizing: border-box; }

        .inner-frame {
            position: relative;
            left: 10%;
            top: 10%;
        }

        /* Create two equal columns that floats next to each other */

        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 100%;
        }

        .row {
            position: absolute;
            height: 80%;
            width: 80%;
        }

        /* Clear floats after the columns */

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .flow-button {
            right: 0%;
            position: absolute;
            bottom: 0%;
            background-color: black;
            border-color: black;
            padding-left: 5%;
            padding-right: 5%;
        }

        .break {
            flex-basis: 100%;
            padding-top: 10px;
            height: 0;
        }
    </style>
    @RenderSection("frontpagesection", false)
    @RenderSection("locationselectorsection", false)
</head>
<body>
@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>